<html>
<head>
<meta charset="UTF-8">
</head>
<title>GitLab Users</title>
<body>
<h1>GitLab Users</h1>
<table>
<thead>
<th>name</th>
<th>username</th>
<th>email</th>
<th>ID</th>
<th>Namespace ID</th>
<th>TFA</th>
<th>Admin</th>
<th>External User</th>
<th>External UID</th>
<th>Can create groups</th>
<th>Personal projects limit</th>
<th>Provider</th>
<th>Member since</th>
<th>Current sign-in at</th>
<th>Last sign-in at</th>
</thead>
<tbody>
%{ for user in users ~}
<tr>
<td>${user.name}</td>
<td>${user.username}</td>
<td>${user.email}</td>
<td>${user.id}</td>
<td>${user.namespace_id}</td>
<td>${user.two_factor_enabled}</td>
<td>${user.is_admin}</td>
<td>${user.external}</td>
<td>${user.extern_uid}</td>
<td>${user.can_create_group}</td>
<td>${user.projects_limit}</td>
<td>${user.provider}</td>
<td>${user.created_at}</td>
<td>${user.current_sign_in_at}</td>
<td>${user.last_sign_in_at}</td>
</tr>
%{ endfor ~}
</tbody>
</table>
</body>
</html>